<%= form_for @profile do |f| -%>
  <div class="buttons">
    <%= link_to "Cancel", @profile.new_record? ? user_path(@profile.user) :
     profile_path(@profile) %>
  </div>
  <div class="right">
    <%= f.submit @profile.new_record? ? "Create Profile" : "Update Profile" %>
  </div><br />

  <br />
  <fieldset id="email-services">
    <legend>Email Services</legend>

    <div class="lcol_wide">
      <%= f.label :used_email_clients, "Email clients used?" %>
    </div>
    <div class="rcol_wide">
      <%= render :partial => 'email_clients', :locals => {:f => f, :profile => @profile} %>
    </div><br />

    <div class="lcol_wide">
      <%= f.label :uses_mail_forward, "Email being forwarded?" %>
    </div>
    <div class="rcol_wide">
      <%= render 'yes_no_select', {:f => f, :field => :uses_mail_forward } %>
    </div><br />

    <div class="lcol_wide">
      <%= f.label :uses_local_mail, "Email stored on local hard drive?" %>
    </div>
    <div class="rcol_wide">
      <%= render 'yes_no_select', {:f => f, :field => :uses_local_mail } %>
    </div><br />
  </fieldset>

  <fieldset id="calendar-services">
    <legend>Calendar Services</legend>

    <div class="lcol_wide">
      <%= f.label :migrate_oracle_calendar, "Migrate Oracle Calendar?" %>
    </div>
    <div class="rcol_wide">
      <%= render 'yes_no_select', {:f => f, :field => :migrate_oracle_calendar } %>
    </div><br />

    <div class="lcol_wide">
      <%= f.label :used_other_calendars, "Used calendar other than Oracle?" %>
    </div>
    <div class="rcol_wide">
      <%= render 'yes_no_select', {:f => f, :field => :used_other_calendars } %>
    </div><br />
  </fieldset>

  <fieldset id="other_services">
    <legend>Other Services</legend>

    <div class="lcol_wide">
      <%= f.label :uses_ira, "Using the IRA Application?" %>
    </div>
    <div class="rcol_wide">
      <%= render 'yes_no_select', {:f => f, :field => :uses_ira } %>
    </div><br />

    <div class="lcol_wide">
      <%= f.label :uses_hyperion, "Using Hyperion B&P?" %>
    </div>
    <div class="rcol_wide">
      <%= render 'yes_no_select', {:f => f, :field => :uses_hyperion } %>
    </div><br />
  </fieldset>

  <% if current_user.is_support? %>
    <%= render :partial => 'form_support', :locals => {:f => f} %>
  <% end -%>

<% end -%>
