<fieldset id="support_considerations">
	<legend>Support Considerations</legend>
	
	<p>
		Message count: <%= @profile.msg_count %>
	</p>

	<p>
		Mailbox size: <%= @profile.mbox_size %>
	</p>

	<p>
		Comfort level: <%= @profile.comfort_level %>
	</p>

	<p>
		Uses sync? <%= @profile.uses_sync? ? "Yes" : "No" %>
	</p>

	<p>
		Complexity level: <%= @profile.complexity_level %>
	</p>

	<p>
		VIP? <%= @profile.vip? ? "Yes" : "No" %>
	</p>

	<p>
		Support Notes:<br />
		<%= @profile.support_notes %>
	</p>
	
</fieldset>
