<% title "BlitzMail Migrations: Profile", false %>
<h2 id="profile-header">Migration Profile for <%= @profile.user.name %></h2>

<div class="buttons"><%= link_to "Cancel", user_path(@profile.user) %></div>
<div class="right buttons"><%= link_to "Edit Profile", edit_profile_path(@profile) %></div>
<br class="clear"/>

<fieldset id="email-services">
  <legend>Email Services</legend>

  <div class="lcol_wide tight">Email clients used:</div>
  <div class="rcol_wide tight">
    <%= email_clients_display_string @profile %>
  </div><br />

  <div class="lcol_wide tight">Email being forwarded?</div>
  <div class="rcol_wide tight">
    <%= boolean_display_as_todo @profile.uses_mail_forward %>
  </div><br />

  <div class="lcol_wide tight">Email stored on local hard drive?</div>
  <div class="rcol_wide tight">
    <%= boolean_display_as_todo @profile.uses_local_mail %>
  </div><br />

</fieldset>

<fieldset id="calendar-servives">
  <legend>Calendar Services</legend>
  <div class="lcol_wide tight">Oracle Calendar to be migrated?</div>
  <div class="rcol_wide tight">
    <%= boolean_display_as_todo @profile.migrate_oracle_calendar %>
  </div><br />

  <div class="lcol_wide tight">Other calendaring software used?</div>
  <div class="rcol_wide tight">
    <%= boolean_display_as_todo @profile.used_other_calendars %>
  </div><br />

</fieldset>

<fieldset id="other-services">
  <legend>Other Services</legend>
  
  <div class="lcol_wide tight">IRA Application used?</div>
  <div class="rcol_wide tight">
    <%= boolean_display_as_todo @profile.uses_ira %>
  </div><br />
  
  <div class="lcol_wide tight">Hyperion Budget & Planning used?</div>
  <div class="rcol_wide tight">
    <%= boolean_display_as_todo @profile.uses_hyperion %>
  </div><br />
  
</fieldset>

<%= render :partial => 'show_support' if current_user.is_support? %>
