<% title "BlitzMail Migrations: Profile", false %>
<h2 id="profile-header">Migration Profile for <%= @profile.user.name %></h2>

<fieldset id="information_about_your_services_to_be_migrated" class="">
	<legend>Services to be Migrated</legend>
	<p>
		Oracle Calendar to be migrated? <strong><%= @profile.migrate_oracle_calendar ? "Yes" : "No" %></strong>
	</p>
	
	<p>
		Email is being forwarded? <strong><%= @profile.uses_mail_forward ? "Yes" : "No" %></strong>
	</p>
	
	<p>
		Email is stored on local hard drive? <strong><%= @profile.uses_local_mail ? "Yes" : "No" %></strong>
	</p>
	
</fieldset>

<fieldset id="information_about_other_services_that_might_be_impacted_by_the_migration" class="">
	<legend>Other Services</legend>
	
	<p>
		IRA Application is used? <strong><%= @profile.uses_ira ? "Yes" : "No" %></strong>
	</p>
	
	<p>
		Hyperion client application is used? <strong><%= @profile.uses_hyperion ? "Yes" : "No" %></strong>
	</p>
	
</fieldset>

<fieldset id="information_about_your_email_and_calendar_software_experience" class="">
	<legend>Software Experience</legend>
	<p>
		Email clients used: <strong><%= email_clients_display_string(@profile) %></strong>
	</p>
	
	<p>
		Other calendaring software used? <strong><%= @profile.used_other_calendars ? "Yes" : "No" %></strong>
	</p>
	
</fieldset>

<p>
	<%= link_to "Edit Profile", edit_profile_path(@profile) %>
</p>

<%= render :partial => 'show_support' %>
