<%= form_for @group do |f| -%>
<div id="choose-consultant" class="fieldset form" style="display: none">
  <h2>Choose a Support Consultant</h2>
  <div class="group navform wat-cf">
    <div class="text_button_padding">
      <%= hide_div_link 'Cancel', 'choose-consultant' %>
    </div>
    <div class="right">
      <button class="button" type="submit">Assign Consultant</button>
    </div>
  </div>
  <%= f.hidden_field :action, :value => :choose_consultant %>
  <div class="group wat-cf">
    <div class="left label"><%= f.label :consultant_id, "Choose a Consultant" %></div>
    <div class="right">
      <%= f.select :consultant_id, Support.group_select_list(@consultants),
      {:include_blank => "Choose..."} %>
    </div>
  </div>
</div>
<% end -%>
