<tr id="consultant-<%= consultant.id %>">
  <td><%= consultant.name %></td>
  <td><%= consultant.email %></td>
  <td><%= consultant.phone %></td>
  <td><%= render 'consultants/clear', :consultant => consultant %></td>
</tr>
