<div class="group wat-cf">
  <div class="left label">Vendor</div>
  <div class="right tight"><%= @device.vendor %></div>
</div>
<div class="group wat-cf">
  <div class="left label">Kind</div>
  <div class="right tight"><%= @device.kind %></div>
</div>
<div class="group wat-cf">
  <div class="left label">OS Version</div>
  <div class="right tight"><%= @device.os_version %></div>
</div>
<div class="group wat-cf">
  <div class="left label">MS Office Version</div>
  <div class="right tight"><%= @device.office_version %></div>
</div>
<div class="group wat-cf">
  <div class="left label">Current Email Program</div>
  <div class="right tight"><%= @device.current_email %></div>
</div>
<div class="group wat-cf">
  <div class="left label">New Email Program</div>
  <div class="right tight"><%= @device.new_email %></div>
</div>
<div class="group wat-cf">
  <div class="left label">Web Browser Primarily Used</div>
  <div class="right tight"><%= @device.current_browser %></div>
</div>
