<div class="lcol tight">Vendor</div>
<div class="rcol tight"><%= @device.vendor %></div>
<br class="clear"/>

<div class="lcol tight">Kind</div>
<div class="rcol tight"><%= @device.kind %></div>
<br class="clear"/>

<div class="lcol tight">OS Version</div>
<div class="rcol tight"><%= @device.os_version %></div>
<br class="clear"/>

<div class="lcol tight">Office Version</div>
<div class="rcol tight"><%= @device.office_version %></div>
<br class="clear"/>

<div class="lcol tight">Current Email Client</div>
<div class="rcol tight"><%= @device.current_email %></div>
<br class="clear"/>

<div class="lcol tight">New Email Client</div>
<div class="rcol tight"><%= @device.new_email %></div>
<br class="clear"/>

<div class="lcol tight">Current Browser</div>
<div class="rcol tight"><%= @device.current_browser %></div>
<br class="clear"/>

