<p>
	OS Version: <%= @device.os_version %>
</p>

<p>
	Office Version: <%= @device.office_version %>
</p>

<p>
	Current Email Client: <%= @device.current_email %>
</p>

<p>
	Current Web Browser: <%= @device.current_browser %>
</p>

<p>
	New Email Client: <%= @device.new_email %>
</p>
