<tr id="device-<%= device.id %>">
	<td>
		<%= link_to device.device_name, device_path(device) %>
	</td>
	<td>
		<%= device.type %>
	</td>
	<td>
		<%= device.os_version %>
	</td>
	<td>
		<%= device.new_email %>
	</td>
	<td>
		<%= device.type == 'Computer' ? device.office_version : "N/A" %>
	</td>
	<td>
		<%= device.type == 'Computer' ? device.current_browser : "N/A" %>
	</td>
</tr>