<tr id="device-<%= device.id %>">
  <td><%= link_to device.device_name, device_path(device) %></td>
  <td><%= device.type %></td>
  <td><%= device.os_version %></td>
  <td><%= device.new_email %></td>
  <td><%= device.office_version %></td>
  <td><%= device.current_browser %></td>
</tr>
