<tr id="device_<%= device.id %>">
	<td>
		<%= link_to device.vendor, device %>
	</td>
	<td>
		<%= device.kind %>
	</td>
	<td>
		<%= device.os_version %>
	</td>
	<td>
		<%= device.office_version %>
	</td>
	<td>
		<%= device.current_email %>
	</td>
	<td>
		<%= device.current_browser %>
	</td>
	<td>
		<%= device.new_email %>
	</td>
</tr>