<%= form_for @device do |f| -%>

	<fieldset id="hardware">
		<legend>Hardware</legend>
		
		<div class="lcol"><%= f.label :vendor_choice, "Vendor" %></div>
		<div class="rcol"><%= f.select :vendor_choice, DeviceVendorChoice.to_options_array, {:include_blank => "Choose..."} %>
		<%# f.select :vendor, DeviceVendorChoice.to_options_array, {:include_blank => "Choose..."} %>
			<%= f.text_field :vendor_other %> (if Other selected)
		</div><br class="clear"/>
		
		<div class="lcol"><%= f.label :kind, "Kind" %></div>
		<div class="rcol"><%= f.select :kind, DeviceKindChoice.to_options_array, {:include_blank => "Choose..."} %></div><br class="clear"/>
		
	</fieldset>
	
	<fieldset id="software">
		<legend>Software</legend>
		
		<div class="lcol"><%= f.label :os_version, "OS Version" %></div>
		<div class="rcol"><%= f.select :os_version, OsVersionChoice.to_options_array, {:include_blank => "Choose..."} %></div><br class="clear"/>
		
		
	</fieldset>

	<div class="buttons"><%= link_to "Cancel", device_path unless @device.new_record? %></div>
  <div class="right"><%= f.submit @device.new_record? ? "Create Device" : "Update Device" %></div>
  <br class="clear"/>

<% end -%>