<tr id="device-<%= group_device.id %>">
  <td><%= group_device.user.last_first %></td>
  <td><%= group_device.device_name %></td>
  <td><%= group_device.type %></td>
  <td><%= group_device.os_version %></td>
  <td><%= group_device.new_email %></td>
  <td><%= group_device.office_version %></td>
  <td><%= group_device.current_browser %></td>
</tr>
