<% title "BlitzMail Migrations: Edit Device", false %>
<h2 id="device-header">Edit <%= @device.type %> Device Information</h2>

<fieldset id="device">
  <legend>Device Info</legend>
  <%= form_for @device, :url => device_path(@device), :as => :device do |f| -%>
  <div class="buttons"><%= link_to "Cancel", device_path(@device) %></div>
  <div class="buttons right"><%= f.submit "Create Device" %></div>
  <br class="clear"/>

  <%= f.error_messages %>
  <%= f.hidden_field :type, :value => @device.type %>
  <%= render "#{@device.type_name}_form", {:f => f} %>

<% end -%>
</fieldset>
