<% title "BlitzMail Migrations: Edit Device", false %>
<h2 id="device-header">Edit <%= @device.type %> Device Information</h2>
<%= form_for @device, :url => device_path(@device), :as => :device do |f| -%>
  <div class="fieldset form">
    <h2>Device Info</h2>
    <div class="group navform wat-cf">
      <div class="text_button_padding">
        <%= link_to "Cancel", device_path(@device) %>
      </div>
      <div class="right">
        <button class="button" type="submit">Update Device</button>
      </div>
    </div>
    <%= f.hidden_field :type, :value => @device.type %>
    <%= render "#{@device.type_name}_form", {:f => f} %>
  </div>
<% end -%>
