<% title "BlitzMail Migrations: Device", false %>
<h2 id="device-header">Device Information for <%= @device.device_name %></h2>

<fieldset id="hardware">
	<legend>Hardware</legend>
	
	<%= render :partial => "#{@device.type.downcase}_hardware_detail" %>
	
</fieldset>

<fieldset id="software">
	<legend>Software</legend>
	
	<%= render :partial => "#{@device.type.downcase}_software_detail" %>
	
</fieldset>

<div class="buttons"><%= link_to "All Devices", devices_path %></div>
<div class="right"><div class="buttons"><%= link_to "Edit", edit_device_path %></div></div>
<br class="clear"/>
