<% title "BlitzMail Migrations: Device", false %>
<h2 id="device-header">Device Information for <%= @device.device_name %></h2>

<fieldset id="device">
  <legend><%= @device.type %> Device Info</legend>
  <div class="buttons"><%= link_to "Status Page", user_path(current_user) %></div>
  <div class="buttons right"><%= link_to "Edit", edit_device_path %></div>
  <br class="clear"/>

  <%= render @device.type_name %>

</fieldset>
