<div id="add-deptclass" style="display: none">
  <fieldset class="inset">
    <legend>Adding a Deptclass</legend>
    <%= form_for @group do |f| -%>
    <div class="buttons">
      <%= link_to_function "Cancel", "$('add-deptclass').hide('slow')" %>
    </div>
    <div class="right"><%= f.submit "Add to Group" %></div>
    <br />

    <%= f.hidden_field :action, :value => :add_deptclass %>
    <div class="lcol"><%= f.label :add_deptclass, "Deptclass(es)" %></div>
    <div class="rcol"><%= f.text_field :add_deptclass, :size => 60 %></div> <br />
    <% end -%>
  </fieldset>
</div>
