<div id="assign-date" class="fieldset form">
  <div class="group navform wat-cf">
    <div class="text_button_padding">
      <%= link_to 'Cancel', group_path(@group) %>
    </div>
    <div class="right">
      <button class="button" onclick="return count_checked();">Assign Migration Date</button>
    </div>
  </div>
  <%= f.hidden_field :action, :value => :schedule_migrations %>
  <div class="group wat-cf">
    <div class="left label"><%= f.label :accounts, "Select Migration Date" %></div>
    <div class="right">
      <%= select("group","migration_id",
            [""] + (Migration.available_dates), {},
            {"data-placeholder" => "Choose date...",
             :id => "date-select",
             :class => "chzn-select",
             :style => "width: 250px;"}) %>
    </div>
    <p>&nbsp;</p>
    <div class="left label"><%= f.label :skip_notifications, "Skip Notifications" %></div>
    <div class="right">
      <%= f.check_box :skip_notifications %>
    </div>
  </div>
</div>
