<tr id="group-<%= group.id %>">
  <td><%= link_to group.name, group_path(group) %></td>
  <td><%= group.member_count %></td>
  <td><%= group.week_of %></td>
  <td>TBD</td>
  <td><%= group.contacts_display %></td>
  <td><%= group.consultants_display %></td>
</tr>
