<tr id="member-<%= member.id %>">
  <td align="left;" style="vertical-align: top;">
    &nbsp;&nbsp;&nbsp;<%= check_box_tag "group[accounts][]", member.id, @group.accounts.include?(member.id) %>
  </td>
  <td align="left;" style="vertical-align: top;">
    <%= member.deptclass if member.is_a?(User) %>
  </td>
  <td>
    <%= member.last_first %>
    <% unless member.primary_resource_ownerships.empty? %>
      <% member.primary_resource_ownerships.each do |calendar| %>
        <% if calendar.migrate? %>
          <br /><%= calendar.name %>
        <% end -%>
      <% end -%>
    <% end -%>
  </td>
  <td>
    <%= member.display_mailboxtype %>
    <% unless member.primary_resource_ownerships.empty? %>
      <% member.primary_resource_ownerships.each do |calendar| %>
        <% if calendar.migrate? %>
          <br /><%= "Calendar" %>
        <% end -%>
      <% end -%>
    <% end -%>
  </td>
</tr>
