<tr id="member-<%= member.id %>">
  <td align="left">
    &nbsp;&nbsp;&nbsp;<%= check_box_tag "group[accounts][]", member.id, @group.accounts.include?(member.id) %>
  </td>
  <td>
    <%= member.name %>
  </td>
  <td>
    <%= member.deptclass if member.is_a?(User) %>
  </td>
  <td>
    <%= member.is_a?(User) ? member.display_mailboxtype : "Calendar" %>
  </td>
</tr>