<%= form_for @group do |f| -%>
<div id="remove-deptclass" class="fieldset form" style="display: none">
  <h2>Removing a Deptclass</h2>
  <div class="group navform wat-cf">
    <div class="text_button_padding">
      <%= link_to_function "Cancel", "$('remove-deptclass').hide('slow')" %>
    </div>
    <div class="right">
      <button class="button" type="submit">Remove from Group</button>
    </div>
  </div>
  <%= f.hidden_field :action, :value => :remove_deptclass %>
  <div class="group wat-cf">
    <div class="left label"><%= f.label :remove_deptclass, "Deptclass(es)" %></div>
    <div class="right"><%= f.text_field :remove_deptclass, :size => 60 %></div>
  </div>
</div>
<% end -%>
