<% title "BlitzMail Migrations: New Group", false %>
<h2 id="group-header">Add a New Group of Users</h2>

<%= form_for @group do |f| -%>
  <fieldset>
    <legend>New Group Info</legend>

    <div class="buttons"><%= link_to "Cancel", groups_path %></div>
    <div class="right"><%= f.submit "Create Group" %></div>
    <br />

    <div class="lcol"><%= f.label :name, "Name" %></div>
    <div class="rcol"><%= f.text_field :name, :size => 40 %></div> <br />

    <div class="lcol"><%= f.label :week_of, "Week Of" %></div>
    <div class="rcol"><%= f.text_field :week_of, :size => 15 %></div> <br />

    <div class="lcol"><%= f.label :deptclass, "Add Deptclass(es)" %></div>
    <div class="rcol"><%= f.text_field :deptclass, :size => 60 %></div> <br />
  </fieldset>
<% end -%>
