<div class="secondary-navigation" id="profile-info-nav">
  <ul class="wat-cf">
    <li><%= link_to "View/Edit Full Migration Profile", profile_path(@profile) %></li>
  </ul>
</div>
<div id="profile-info" class="fieldset form">
  <h2>Profile Summary<%= content_tag(:span, " (Profile incomplete. Please complete as soon as possible.)", :style => "font-size: 0.85em; color: red;") if @profile.missing_vital_attributes? %></h2>

  <div class="group wat-cf">
    <div class="left label">Email Programs</div>
    <div class="right"><%= email_clients_display_string(@profile) %></div>
  </div>

  <div class="group wat-cf">
    <div class="left label">Email Forwarded?</div>
    <div class="right"><%= unspecified_if_blank(@profile.uses_mail_forward) %></div>
  </div>

  <div class="group wat-cf">
    <div class="left label">Calendar Migration?</div>
    <div class="right"><%= unspecified_if_blank(@profile.migrate_oracle_calendar) %></div>
  </div>

  <div class="group wat-cf">
    <div class="left label">Other Calendars?</div>
    <div class="right"><%= unspecified_if_blank(@profile.used_other_calendars) %></div>
  </div>
</div>
