<script type="text/javascript">
  function confirm_reschedule () {
    if ($("#date-select").val() == "") {
      alert("Please select a date.");
      return false;
    }
    return confirm('Are you sure you want to reschedule this migration?');
  }
</script>

<%= form_for user.migrations.first do |f| -%>
  <%= f.hidden_field :user_id, :value => user.id %>
  <div id="reschedule-migration" class="fieldset form" style="display: none">
    <h2>Reschedule this Migration</h2>
    <div class="group navform wat-cf">
      <div class="text_button_padding">
        <%= hide_div_link 'Cancel', 'reschedule-migration' %>
      </div>
      <div class="right">
        <button class="button" type="submit" onclick="return confirm_reschedule();">Reschedule Migration</button>
      </div>
    </div>
    <%= f.hidden_field :action, :value => :reschedule_user_migration %>
      <div class="group wat-cf">
        <div class="left label"><%= f.label :migration_id, "Select New Migration Date" %></div>
        <div class="right">
          <%= select("migration","migration_id",
                [""] + (Migration.available_dates.select { |d| d[0] != user.migrations.first.date }), {},
                {"data-placeholder" => "Choose date...",
                 :id => "date-select",
                 :class => "chzn-select",
                 :style => "width: 150px;"}) %>
        </div>
      </div>
  </div>
<% end -%>
