<tr id="user-<%= user.id %>">
  <td id="user-<%= user.id %>-name">
    <%= link_to user.last_first, user_path(user) %>
  </td>
  <td><%= user.deptclass %></td>
  <td><%= user.profile_summary %></td>
  <td><%= user.migration_date %></td>
  <td id="user-<%= user.id %>-remove"><%= button_to "Remove" %></td>
</tr>
