<% title "BlitzMail Migrations: User Info", false %>
<h2 id="user-header">User Status for <%= @user.name %></h2>
<fieldset id="user-info">
  <legend>User Info</legend>
  <div class="lcol">Group</div>
  <div class="rcol"><%= @user.group_name %></div> <br class="clear"/>
  <div class="lcol">Department/Class</div>
  <div class="rcol"><%= @user.deptclass %></div> <br class="clear"/>
  <div class="lcol">NetID</div>
  <div class="rcol"><%= @user.netid %></div> <br class="clear"/>
  <div class="lcol">BlitzMail Server</div>
  <div class="rcol"><%= @user.blitzserv %></div> <br class="clear"/>
  <div class="lcol">Affiliation</div>
  <div class="rcol"><%= @user.affiliation %></div> <br class="clear"/>
</fieldset>
<%= render 'profile_info' unless @profile.nil? %>
<%= render 'profile_no' if @profile.nil? %>
<%= render 'devices_list' unless @devices.empty? %>
<%= render 'devices_no' if @devices.empty? %>
