<tr id="contact-<%= contact.id %>">
  <td><%= link_to contact.last_first, user_path(contact) %></td>
  <td><%= contact.deptclass %></td>
  <td><%= contact.profile_summary %></td>
  <td><%= contact.migration_date %></td>
  <td><%= render 'contacts/clear', :contact => contact if current_user.is_support? %></td>
</tr>
