<tr id="contact-<%= contact.id %>">
  <td><%= link_to contact.name, user_path(contact) %></td>
  <td><%= contact.deptclass %></td>
  <td id="contact-<%= contact.id %>-profile">
    <%= contact.profile_state %>
  </td>
  <td id="contact-<%= contact.id %>-devices">
    &nbsp;<%= contact.devices.size %>
  </td>
  <td id="contact-<%= contact.id %>-migration">
    <%= contact.migration_state %>
  </td>
  <td><%= render 'contacts/clear', :contact => contact if current_user.is_support? %></td>
</tr>
