<%= form_for @resource do |f| %>
  <div class="fieldset form" id="resource-info">
    <h2>Resource Information</h2>
    <div class="group navform wat-cf">
      <div class="text_button_padding">
        <%= link_to "Cancel", @resource.new_record? ? resources_path :
         resource_path(@resource) %>
      </div>
      <div class="right">
        <button class="button" type="submit">
          <%= @resource.new_record? ? "Create Resource" : "Update Resource" %>
        </button>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :name, "Name" %>
      </div>
      <div class="right">
        <%= @resource.name %>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :name_other, "Other Name" %>
      </div>
      <div class="right">
        <%= @resource.name_other %>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :dept, "Department" %>
      </div>
      <div class="right">
        <%= @resource.dept %>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :dept_group, "Dept. Group" %>
      </div>
      <div class="right">
        <%= @resource.dept_group %>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :affiliation, "Affiliation" %>
      </div>
      <div class="right">
        <%= @resource.affiliation %>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :oc_user, "Calender User" %>
      </div>
      <div class="right">
        <%= @resource.oc_user %>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :migrate, "Migrate?" %>
      </div>
      <div class="right">
        <%= f.select :migrate, [["Yes",true],["No",false]], {:include_blank => "Choose..."} %>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :disposition, "Disposition" %>
      </div>
      <div class="right">
        <%= f.select :disposition, ["Retain","Remove"], {:include_blank => "Choose..."} %>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :notes, "Notes" %>
      </div>
      <div class="right">
        <%= f.text_area :notes, :size => '60x12' %>
      </div>
    </div>


  </div>
<% end %>
