<%= form_for @resource do |f| %>
  <div class="fieldset form" id="resource-info">
    <h2>Resource Information</h2>
    <div class="group navform wat-cf">
      <div class="text_button_padding">
        <%= link_to "Cancel", resource_path(@resource) %>
      </div>
      <div class="right">
        <button class="button" type="submit">
          Update Resource
        </button>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :name, "Name" %>
      </div>
      <div class="right">
        <%= @resource.name %>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :name_other, "Other Name" %>
      </div>
      <div class="right">
        <%= @resource.name_other %>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :dept, "Department" %>
      </div>
      <div class="right">
        <%= @resource.dept %>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :dept_group, "Dept. Group" %>
      </div>
      <div class="right">
        <%= @resource.dept_group %>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :affiliation, "Affiliation" %>
      </div>
      <div class="right">
        <%= @resource.affiliation %>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :migrate, "Migrate Calendar?" %>
      </div>
      <div class="right">
        <%= f.select :migrate, [["Yes",true],["No",false]], {:include_blank => "Choose..."} %>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :migrate_data, "Migrate Data?" %>
      </div>
      <div class="right">
        <%= f.select :migrate_data, [["Yes",true],["No",false]], {:include_blank => "Choose..."} %>
      </div>
    </div>

    <div class="group wat-cf">
      <div class="left label">
        <%= f.label :secondary_owner_name, "Secondary Owner" %>
      </div>
      <div class="right">
        <%= f.text_field :secondary_owner_name %>
      </div>
    </div>

  </div>
<% end %>
