<% title "BlitzMail Migrations: Resource Info", false %></strong>
<h2 id="group-header">Resource Information for <%= @resource.name %></h2>
<fieldset id="group-members">
  <legend>Resource</legend>
  <div class="buttons right">
    <%= link_to "Edit Resource", edit_resource_path %>
  </div><br />


<p>
  Name:
  <strong><%= @resource.name %></strong>
</p>
<p>
  Name Other:
  <strong><%= @resource.name_other %></strong>
</p>
<p>
  Dept:
  <strong><%= @resource.dept %></strong>
</p>
<p>
  Dept Group:
  <strong><%= @resource.dept_group %></strong>
</p>
<p>
  Oc User:
  <strong><%= @resource.oc_user %></strong>
</p>
<p>
  Migrate:
  <strong><%= @resource.migrate %></strong>
</p>
<p>
  Disposition:
  <strong><%= @resource.disposition %></strong>
</p>
<p>
  Notes:
  <strong><%= @resource.notes %></strong>
</p>
<p>
  Affiliation:
  <strong><%= @resource.affiliation %></strong>
</p>
<p>
  Migration Group:
  <strong><%= @resource.group.nil? ? "Not Assigned" : @resource.group.name %></strong>
</p>

<p>
  <strong><%= link_to "View All", resources_path %></strong>
</p>
