<tr id="account-<%= account_download.id %>">
  <td><%= account_download.cn %></td>
  <td><%= account_download.move_type %></td>
  <td><%= account_download.include_oc_migration %></td>
  <td><%= account_download.emailsuffix %></td>
  <td><%= account_download.resource_owner1 %></td>
  <td><%= account_download.resource_owner2 %></td>
  <td><%= account_download.num_of_messages %></td>
  <td><%= account_download.mailbox_size %></td>
</tr>
