<%= render :partial => 'account_nav', :locals => { :migration => @migration } %>

<%= render :partial => 'two_week_email_form' %>
<%= render :partial => 'one_week_email_form' %>
<%= render :partial => 'day_before_email_form' %>

<div id="account-list" class="fieldset form">
  <% if @accounts.empty? %>
    <%= content_tag(:p, 'No accounts scheduled for this migration.') %>
  <% else %>
    <h2>Accounts Scheduled</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th align="left">Deptclass</th>
          <th align="left">Name</th>
          <th align="left">New Email</th>
          <th align="left">Mailbox Type</th>
          <th align="left">Group</th>
          <th align="left">Status</th>
        </tr>
        <%= render :partial => 'account', :collection => @accounts %>
      </table>
    </div>
  <% end -%>
</div>

