<tr id="account-<%= account.id %>">
  <td><%= link_to account.last_first, user_path(account) %></td>
  <td><%= account.deptclass %></td>
  <td><%= account.newemailaddress %></td>
  <td><%= account.display_mailboxtype %></td>
  <td><%= link_to account.group_name, group_path(account.groups.first) %></td>
  <td><%= account.migration_state %></td>
</tr>