<%= form_for @migration do |f| -%>
  <div id="one-day-email" class="fieldset form" style="display: none">
    <h2>Compose and Send One Day Notification Email</h2>
    <div class="group navform wat-cf">
      <div class="text_button_padding">
        <%= hide_div_link 'Cancel', 'one-day-email' %>
      </div>
      <div class="right">
        <button class="button" type="submit">Send Email</button>
      </div>
    </div>
    <%= f.hidden_field :action, :value => :send_day_before_email %>
    <div class="group wat-cf">
      <div class="left label">&nbsp;</div>
      <div class="right email-font">
        From: e-mail.transition@dartmouth.edu<br />
      Subject: URGENT: Your BlitzMail Account is Moving TONIGHT!
      </div>
    </div>
    <div class="group wat-cf">
      <div class="left label"><%= f.label :day_before_email, "Message Body" %></div>
      <div class="right">
        <%= f.text_area :day_before_email, :size => '80x10',
            :value => !@migration.day_before_email.blank? ? @migration.day_before_email : render(:file => 'migrations/_day_before_message_default.text') %>
      </div>
    </div>
  </div>
<% end -%>