<%= form_for @migration do |f| -%>
  <%= f.hidden_field :action, :value => :send_followup_email %>
  <div id="followup-email" class="fieldset form" style="display: none">
    <h2>Compose and Send Post-Migration Follow-up Email</h2>
    <div class="group navform wat-cf">
      <div class="text_button_padding">
        <%= hide_div_link 'Cancel', 'followup-email' %>
      </div>
      <div class="right">
        <button class="button" type="submit">Send Email</button>
      </div>
    </div>
    <div class="group wat-cf">
      <div class="left label">&nbsp;</div>
      <div class="right email-font">
        From: b2b@mac.dartmouth.edu<br />
      </div>
    </div>
    <div class="group wat-cf">
      <div class="left label"><%= f.label :followup_email_subject, "Subject" %></div>
      <div class="right">
        <%= f.text_field :followup_email_subject, :size => 80,
            :value => "Checking in with you about the new Blitz!" %>
      </div>
    </div>
    <div class="group wat-cf">
      <div class="left label"><%= f.label :followup_email_message, "Message Body" %></div>
      <div class="right">
        <%= f.text_area :followup_email_message, :size => '80x10',
            :value => render(:file => 'migrations/_followup_message_default.text') %>
      </div>
    </div>
  </div>
<% end -%>