<%= form_for @migration do |f| -%>
  <div class="fieldset form">
    <h2>Migration Info</h2>
    <div class="group navform wat-cf">
      <div class="text_button_padding"><%= link_to "Cancel", @migration.new_record? ? migrations_path :
       migration_path(@migration) %></div>
      <div class="right">
        <button class="button" type="submit">
          <%= @migration.new_record? ? "Create Migration" : "Update Migration" %>
        </button>
      </div>
    </div>
    <div class="group wat-cf">
      <div class="left label"><%= f.label :date, "Date" %></div>
      <div class="right"><%= f.text_field :date, :size => 20 %></div>
    </div>
    <div class="group wat-cf">
      <div class="left label"><%= f.label :max_accounts, "Max # of Accounts" %></div>
      <div class="right"><%= f.text_field :max_accounts, :size => 4 %></div>
    </div>

    <div class="group wat-cf">
      <div class="left label"><%= f.label :two_week_email, "Two weeks prior Email Message" %></div>
      <div class="right">
      <p class="email-font">From: e-mail.transition@dartmouth.edu<br />
      Subject: IMPORTANT: Your BlitzMail Account Is Moving!</p>
      <%= f.text_area :two_week_email, :size => '80x10' %></div>
    </div>

    <div class="group wat-cf">
      <div class="left label"><%= f.label :one_week_email, "One week prior Email Message" %></div>
      <div class="right">
      <p class="email-font">From: e-mail.transition@dartmouth.edu<br />
      Subject: IMPORTANT: Your BlitzMail Account Is Moving NEXT WEEK!</p>
      <%= f.text_area :one_week_email, :size => '80x10' %></div>
    </div>

    <div class="group wat-cf">
      <div class="left label"><%= f.label :day_before_email, "Day Before Email Message" %></div>
      <div class="right">
        <p class="email-font">From: e-mail.transition@dartmouth.edu<br />
        Subject: IMPORTANT: Your BlitzMail Account Is Moving TOMORROW!</p>
      <%= f.text_area :day_before_email, :size => '80x10' %></div>
    </div>

  </div>
<% end -%>
