<div id="device" class="fieldset form">
  <h2>Migration Info</h2>
  <div class="group wat-cf">
    <div class="left label">Date</div>
    <div class="right tight"><%= @migration.date %></div>
  </div>

  <div class="group wat-cf">
    <div class="left label">Week Of</div>
    <div class="right tight"><%= @migration.week_of %></div>
  </div>

  <div class="group wat-cf">
    <div class="left label">Maximum # of accounts</div>
    <div class="right tight"><%= @migration.max_accounts %></div>
  </div>

  <div class="group wat-cf">
    <div class="left label"># of user accounts</div>
    <div class="right tight"><%= @migration.users.size %></div>
  </div>

  <div class="group wat-cf">
    <div class="left label"># of resource accounts</div>
    <div class="right tight"><%= @migration.resources.size %></div>
  </div>
</div>
