
<% title "BlitzMail Migrations: Migration Info", false %>
<h2 id="migration-header">Migration Information for <%= @migration.date %></h2>
<div class="secondary-navigation">
  <ul class="wat-cf">
    <li>
      <%= link_to "View Info", migration_path(@migration) if show_accounts? %>
      <%= link_to "View Accounts", migration_path(@migration, :view => "accounts") unless show_accounts? %>
    </li>
    <li>
      <%= link_to "Edit", edit_migration_path unless show_accounts? %>
    </li>
  </ul>
</div>

<%= render :partial => 'info' unless show_accounts? %>
<%= render :partial => "accounts" if show_accounts? %>