<% title "BlitzMail Migrations: Migration Info", false %>

<h2 id="migration-header">Migration Information for <%= @migration.date %></h2>

<% if current_user.is_admin? %>
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li><%= link_to "Edit Migration Info", edit_migration_path(@migration) %></li>
      <li><%= link_to "Delete This Migration", @migration,
                      :confirm => 'Are you sure you want to delete this Migration, canceling any accounts assigned to it?', :method => :delete %></li>
    </ul>
  </div>
<% end -%>

<%= render :partial => 'info' %>
<%= render :partial => "account_list" if show_accounts? %>
<%= render :partial => "resource_list" if show_resources? %>
<%= render :partial => "download_list" if show_export? %>
