<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Blitz2Blitz Migrations" %></title>
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/bec-green/style",
      "web-app-theme/override", :cache => true %>
  <%= yield :head_css %>
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= csrf_meta_tag %>
  <%= yield :head_script %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Blitz2Blitz Migrations</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><%= logout_link %></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
          <%= user_nav_tabs %>
          <%= admin_nav_tabs %>
          <%= support_nav_tabs %>
        </ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div id="main">
        <div class="flash">
          <% flash.each do |type, message| -%>
            <div class="message <%= type %>" id="flash_<%= type %>">
              <p><%= message %></p>
            </div>
          <% end -%>
        </div><br clear="all">
        <%= yield %>
      </div>
      <div id="sidebar">
        <div class="block">
          <h3>Support Links</h3>
          <ul class="navigation">
            <li><%= link_to "Link One", '#' %></li>
            <li><%= link_to "Link Two", '#' %></li>
            <li><%= link_to "Link Three", '#' %></li>
          </ul>
        </div>
        <div class="block notice">
          <h4>Important Note</h4>
          <p>Fill out as much of this information as you can. If you are unsure of anything, contact your department's IT consultant or the IT Service Desk at <strong>646-2999</strong>.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
