<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Blitz2Blitz Migrations" %></title>
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/bec-green/style",
      "web-app-theme/override", :cache => true %>
  <%= yield :head_css %>
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= csrf_meta_tag %>
  <%= yield :head_script %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Blitz2Blitz Migrations</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><%= logout_link %></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
          <%= user_nav_tabs %>
          <%= admin_nav_tabs %>
          <%= support_nav_tabs %>
        </ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div id="main">
        <div class="flash">
          <% flash.each do |type, message| -%>
            <div class="message <%= type %>" id="flash_<%= type %>">
              <p><%= message %></p>
            </div>
          <% end -%>
        </div><br clear="all">
        <%= yield %>
      </div>
      <div id="sidebar">
        <div class="block">
          <h3>Support Links</h3>
          <ul class="navigation">
            <li><%= link_to "Blitz-2-Blitz Project Information", 'http://www.dartmouth.edu/comp/email-cal/initiatives/blitz/', :target => 'blank' %></li>
          </ul>
        </div>
        <div class="block notice">
          <h4><strong>Profile Instructions</strong></h4>
          <p style="line-height: 1.3em;">Please create your Migration Profile to provide important information that will help the B2B Team support your Blitz transition.</p>
          <h5 style="font-size: 1.1em;">Create your Profile</h5>
          <p style="line-height: 1.3em;">From the User Status (Home) page:</p>
          <ol style="margin-left: 22px;">
            <li>Click "Create and Submit Migration Profile" link.</li>
            <li>Review and answer all Profile questions.</li>
            <li>Click "Create Profile" to save your entries.</li>
          </ol>
          <p style="line-height: 1.3em;"></p>
          <h5 style="font-size: 1.1em;">Add Devices to your Profile (Computers or Mobile Devices)</h5>
          <p style="line-height: 1.3em;">IMPORTANT:  Please report all computers and mobile devices that you plan to use with the new Blitz system.</p>
          <p style="line-height: 1.3em;">From the User Status (Home) page, in the Your Devices section:</p>
          <ol style="margin-left: 22px;">
            <li>Click the "Add Computer" or "Add Mobile Device" link, as appropriate.</li>
            <li>Provide requested information; if you don't know, select "Don't know" from the drop-down list.</li>
            <li>Click "Create Device" to save your entries.</li>
            <li>Repeat steps 1-3 to add information about all other computers or mobile devices that you plan to use.</li>
          </ol>
          <p style="line-height: 1.3em;"></p>
          <h5 style="font-size: 1.1em;">Review/Edit Your Profile and Devices</h5>
          <p style="line-height: 1.3em;"></p>
          <ol style="margin-left: 22px;">
            <li>Click the "Status Page" link or "Home" tab.</li>
            <li>Click the "View/Edit Full Migration Profile" link.</li>
            <li>Click the "Edit Profile" or "Edit/Add Devices" links, as appropriate.</li>
          </ol>
          <p style="line-height: 1.3em;">If you are unsure of anything on the profile, please e-mail <a href="mailto:b2b@mac.dartmouth.edu">b2b@mac.dartmouth.edu</a> for assistance.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
