<tr id="member-<%= member.id %>">
  <td><%= link_to member.last_first, user_path(member) %></td>
  <td><%= member.deptclass %></td>

  <td><%= member.invitation_sent_for_group?(@group) ? "Sent" : "" %>

  <td id="member-<%= member.id %>-profile">
    <%= member.profile_state %>
  </td>
  <td id="member-<%= member.id %>-devices">
    &nbsp;<%= member.devices.size %>
  </td>
  <td id="member-<%= member.id %>-migration">
    <% if current_user.is_admin? && member.has_migration? %>
      <%= link_to member.migration_state, migration_path(member.migrations.first) %>
    <% else %>
      <%= member.migration_state %>
    <% end -%>
  </td>
  <td>
    <%= render 'members/remove', :member => member if current_user.is_support? %>
  </td>
</tr>
