<tr id="member-<%= member.id %>">
  <td><%= member.deptclass %></td>

  <td><%= link_to member.name, user_path(member) %></td>

  <td><%= member.invitation_sent_for_group?(@group) ? "Sent" : "" %>

  <td id="member-<%= member.id %>-profile">
    <%= member.profile_state %>
  </td>
  <td id="member-<%= member.id %>-devices">
    &nbsp;<%= member.devices.size %>
  </td>
  <td id="member-<%= member.id %>-mailboxtype">
    &nbsp;<%= member.display_mailboxtype %>
  </td>
  <td id="member-<%= member.id %>-migration">
    
    <% if member.migration_state == 'Complete' %>
      Complete
      <% if member.has_migration? %>
        <%= (": " + link_to(member.migration.migration.date, migration_path(member.migration.migration))).html_safe if current_user.is_admin? %>
        <%= (": " + member.migration.migration.date).html_safe unless current_user.is_admin? %>
      <% end -%>
    <% else %>
      <% if member.has_migration? %>
        <%= member.migration_events.first.human_state_name %>
        <%= (": " + link_to(member.migration.migration.date, migration_path(member.migration.migration))).html_safe if current_user.is_admin? %>
        <%= (": " + member.migration.migration.date).html_safe unless current_user.is_admin? %>
      <% else %>
        <%= member.migration_state %>
      <% end -%>
    <% end -%>

  </td>
  <td>
    <%= render 'members/remove', :member => member if current_user.is_support? %>
  </td>
</tr>
