<%= form_for @group do |f| -%>
<div id="remove-deptclass" class="fieldset form" style="display: none">
  <h2>Removing a Deptclass</h2>
  <div class="group navform wat-cf">
    <div class="text_button_padding">
      <%= hide_div_link 'Cancel', 'remove-deptclass' %>
    </div>
    <div class="right">
      <button class="button" type="submit">Remove from Group</button>
    </div>
  </div>
  <%= f.hidden_field :action, :value => :remove_deptclass %>
  <div class="group wat-cf">
    <div class="left label"><%= f.label :remove_deptclass, "Remove Deptclass(es)" %></div>
    <%= f.select(:remove_deptclass,
          [""].concat(@group.member_deptclasses), {},
          {"data-placeholder" => "Choose deptclass...",
           :multiple => true, 
           :class => "chzn-select",
           :style => "width: 300px"}) %>
  </div>
</div>
<% end -%>
