<%= form_for @group do |f| -%>
<div id="send-invitations" class="fieldset form" style="display: none">
  <h2>Compose and Send Invitation Email</h2>
  <div class="group navform wat-cf">
    <div class="text_button_padding">
      <%= hide_div_link 'Cancel', 'send-invitations' %>
    </div>
    <div class="right">
      <button class="button" type="submit">Send Invitations</button>
    </div>
  </div>
  <%= f.hidden_field :action, :value => :send_invitations %>
  <div class="group wat-cf">
    <div class="left label">&nbsp;</div>
    <div class="right email-font">
      From: e-mail.transition@dartmouth.edu<br />
      Subject: Your Blitz Transition is Around the Corner!
    </div>
  </div>
  <div class="group wat-cf">
    <div class="left label"><%= f.label :invite_msg, "Message Body" %></div>
    <div class="right">
      <%= f.text_area :invite_msg, :size => '80x10',
      :value => !@group.invite_msg.blank? ? @group.invite_msg : render(:file => 'members/_invitation_message_default.text') %>
    </div>
  </div>
</div>
<% end -%>
